<footer class="bg-light text-center text-dark py-3">
    <div class="d-flex flex-row justify-content-around">
        <p>
            <a href="mailto:val.roger10@orange.fr" class="text-dark" style="text-decoration: none;">📧 val.roger10@orange.fr</a>
        </p>
        <p>
            <a href="tel:+33638112969" class="text-dark" style="text-decoration: none;">📞 +33 06 38 11 29 69</a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/valentin-roger-45a994261/" class="text-dark" style="text-decoration: none;" target="_blank">🔗 LinkedIn</a>
        </p>
        <p>
            <a href="https://github.com/val59roger" class="text-dark" style="text-decoration: none;" target="_blank">💻 GitHub</a>
        </p>
    </div>
    <p>© Copyright 2024 - Roger Valentin. Tous droits réservés.</p>
</footer>
