<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-gradient px-4">
    <a class="navbar-brand" href="index.html">CV théque</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="lettre-motivation.html">Lettre de motivation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="scolaire.html">Parcours Scolaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="experience.html">Expérience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>